.header {
    display: flex;
    padding: 24px 42px;
    background-color: #333;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.logoImg {
    height: 24px;
    margin-right: 36px;
}

nav {
    display: flex;
}

.link {
    margin: 0 16px;
    font: 1.6em sans-serif;
    font-weight: 600;
    color: #fffdfd;
    text-decoration: none;
    transition: color 0.3s;

}

.link:hover,
.link:focus {
    color: #1BB7DC;
    transform: scale(1.03);
}

.link:active {
    color: #1BB7DC;
    /* pointer-events: none; */
}

.homeSection {
    flex: 1;
    padding: 1rem;
}

.loader {
    margin: 296px 342px;
    color: #1BB7DC;
}