.header {
    display: inline-block;
    width: 100%;
}

.ulList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    justify-content: center;
    align-items: stretch;
}

.listItem {
    border: 1px solid #1BB7DC;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 220px;
    margin-bottom: 20px;

    &:hover {
        background-color: #67e1ff;
        transform: scale(1.03);
    }
}

.imgItem {
    width: 100%;
    object-fit: cover;
}

.list {
    height: auto;
}


.link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.movieTitle {
    padding: 12px;
    margin: 16px;
    font-size: medium;
    text-align: center;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}