.wrapper {
    padding: 56px 24px;
    align-items: baseline;
}

h1 {
    color: #1b1050;
    margin: 24px;
}

.err {
    display: flex;
    margin: 96px 142px;
    width: 330px;
    color: #dc4b1b;
}