.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px;
}

h1 {
    font-size: larger;
    margin-bottom: 32px;
}

p {
    font-size: large;
    color: #333;
}